{% extends 'base.html.twig' %}

{% block title %}{{session.nom}}{% endblock %}

{% block body %}
    <div>
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <h1 class="titleSession animated fadeInRight">{{session.nom}} du {{session.dateDebut|date('d/m/Y')}} au {{session.dateFin|date('d/m/Y')}}</h1>
                    <br>
                    {#<h3>du {{session.dateDebut|localizeddate('full', 'none')}} au {{session.dateFin|localizeddate('full', 'none')}}</h3>    #}
                    <h1 class="seance">Les Séances</h1>
                    <div class="col-12">
                        <div class="row">
                            {%for seance in seances%}
                            <div class="col-5 card detail-card-seance animated zoomIn delay-1s">
                                {%if seance.atelier.session.id is same as (session.id)%}
                                    {#<div class="container">#}
                                        {#<h3 style="padding-right: 30px;">{{seance.dateDebut|localizeddate('full', 'none')}}</h3>#}
                                        <h3 class="detail-seance" style="padding-right: 30px;"> le {{seance.date|date('d/m/Y')}}</h3>
                                        <h5 style="min-height: 40px; margin-left: 5px;">Lieu: {{ seance.adresse }}</h5>
                                    {#</div>#}

                                {#<div class="container-fluid">#}
                                    <div class="card" style="margin-bottom: 20px">
                                        <div class="card-header titre-detail-telier">{{seance.atelier.nom}} de {{seance.heureDebut|date('h:i')}} à {{seance.heureFin|date('h:i')}}</div>
                                        <div class="card-body">
                                            <p class="card-text">{{ seance.atelier.description }}</p>
                                        </div>
                                    </div>
                                {%endif%}
                                {#</div>#}
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="col-4 aside" style="background-color: #DA6552;">
                    <h3 class="titre2 animated fadeInUp delay-2s" style="color: white;">Facilitateurs</h3>
                    <div id="testt" class="col-sm-12 col-md-12 col-lg-12">
                        <div id="test" class="row row-custom">
                            {%for facilitateur in session.facilitateurs%}
                            <div id="card" class="card card-fac-session col-md-12 col-lg-5">
                                <div id="col-12" class="text-center">
                                    <p class="card-title nameMemberBlack name-card-session" style="margin-top: 5px">{{facilitateur.prenom}}<br>{{facilitateur.nom}}</p><hr>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <h3 class="titre2 animated fadeInUp delay-3s" style="color: white; text-align: center;">Participants</h3>
                    <div id="testt" class="col-sm-12 col-md-12 col-lg-12">
                        <div id="test" class="row row-custom">
                            {%for participant in participantSession%}
                            <div class="card card-fac-session col-sm-5 col-md-5 col-lg-5">
                                <div class="text-center">
                                    <p class="card-title nameMemberBlack">{{participant.nom}}</p>
                                    <p class="card-title nameMemberBlack">{{participant.prenom}}</p>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}