{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container inscription">
            <div class="col-md-6 offset-md-3">
                <div class="card border-secondary">
                    <div class="card-header titreForm">Connexion</div>
                    <div class="notif">

                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                {% if ( label == 'success' ) %}
                                    <div class="alert alert-success alert-dismissible fade show">
                                        {{ flash }}
                                    </div>
                                {% elseif ( label == 'error' ) %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ flash }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        <form action="{{ path('verify_login') }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="text" id="username" name="_username" value="" class="form-control" placeholder="Email"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe"/>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                <button type="submit" class="btn btn-primary btnConnexion btn-sm" style="margin-left: 5px">
                                    Connexion
                                </button>
                                <a href="{{ path('forgot') }}" class="btn btn-primary btnConnexion btn-sm">
                                    Mot de passe oublié
                                </a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}