{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container inscription">
            <div class="col-md-6 offset-md-3">
                <div class="card border-secondary">
                    <div class="card-header titreForm">Adresse de recuperation</div>
                    <div class="notif">
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                {% if ( label == 'success' ) %}
                                    <div class="alert alert-success alert-dismissible fade show">
                                        {{ flash }}
                                    </div>
                                {% elseif ( label == 'error' ) %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ flash }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <label for="username">Adresse email</label>
                                    <input type="text" id="email" name="email" value="" class="form-control" placeholder="Email"/>
                                </div>
                                <button type="submit" onclick="forgotpassword(event)" class="btn btn-primary btnConnexion btn-sm">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>Soumettre
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}