{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{#{% block title %}Hello {{ controller_name }}!{% endblock %}#}

{% block body %}
    <div class="row">
        <div class="container inscription">
            <div class="col-md-6 offset-md-3">
                <div class="card border-secondary">
                    <div class="card-header titreForm">Modification du mot de passe</div>
                    <div class="notif">

                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                {% if ( label == 'success' ) %}
                                    <div class="alert alert-success alert-dismissible fade show">
                                        {{ flash }}
                                    </div>
                                {% elseif ( label == 'error' ) %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ flash }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.plainPassword.first, {'attr' : {'placeholder' : "Mot de passe"} }) }}
                        {{ form_row(form.plainPassword.second, {'attr' : {'placeholder' : "Repeter votre mot de passe"} }) }}
                        <button type="submit" class="btn btn-primary btnConnexion btn-sm">Soumettre</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
