{% extends 'base.html.twig' %}

{#{% block title %}Hello {{ controller_name }}!{% endblock %}#}

{% block body %}
    <div class="row">
        <div class="container inscription">
            <div class="col-md-6 offset-md-3"  id="createFacilitateur">
                <div class="card border-secondary">
                    <div class="card-header titreForm">Ajout facilitateur</div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.nom, {'attr' : {'placeholder' : "Nom"} }) }}
                        {{ form_row(form.prenom, {'attr' : {'placeholder' : "Prenom"} }) }}
                        {{ form_row(form.email, {'attr' : {'placeholder' : "Email"} }) }}
                        {{ form_row(form.entreprise, {'attr' : {'placeholder' : "Nom de l'entreprise"} }) }}
                        {#{{ form_row(form.plainPassword.first, {'attr' : {'placeholder' : "Mot de passe"} }) }}#}
                        {#{{ form_row(form.plainPassword.second, {'attr' : {'placeholder' : "Repeter votre mot de passe"} }) }}#}

                        <button type="submit" class="btn btn-primary btnConnexion btn-sm">Ajouter un facilitateur</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
