{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container inscription">
            <div class="col-md-6 offset-md-3" id="createSession">
                <div class="card border-secondary">
                    <div class="card-header titreForm">Creer une session</div>
                    <div class="notif">
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                {% if ( label == 'success' ) %}
                                    <div class="alert alert-success alert-dismissible fade show">
                                        {{ flash }}
                                    </div>
                                {% elseif ( label == 'error' ) %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ flash }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.nom, {'attr' : {'placeholder' : "Nom"} }) }}
                        {{ form_row(form.date_debut, {'attr' : {'placeholder' : "Date de Debut"} }) }}
                        {{ form_row(form.date_fin, {'attr' : {'placeholder' : "Date de fin"} }) }}
                        {#{{ form_row(form.facilitateurs, {'attr' : {'data-placeholder' : "Facilitateurs"} }) }}#}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
    <script>
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-rtl': {rtl: true},
            '.chosen-select-width': {width: '95%'}
        };
        jQuery(document).ready(function () {
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
        });
    </script>
    <script>
        jQuery(document).ready(function(){
            var fullDate = new Date();
            var today = fullDate.getFullYear() + '-' + (fullDate.getMonth()+1) + '-' + fullDate.getDate();
            $("#create_session_date_debut").attr('min', today);
            $("#create_session_date_fin").attr('min', $("#create_session_date_debut").val());
        });
    </script>
{% endblock %}