{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

    {% if is_granted('ROLE_ADMIN') %}
        <br>
        <h4 class="text-center">Un tutoriel est en cours de developpement</h4>
        {% elseif is_granted('ROLE_FACILITATEUR') %}
        <h1 class="titre">Les sessions</h1>
        <br>
        <div class="container-fluid">
            <div class="row row-custom">
                {%for session in sessions%}
                    {%for facilitateurSession in session.facilitateurs %}
                        {% if facilitateurSession.id is same as (app.user.id) %}
                            {%if session.isValidate and session.dateFin|date('d/m/Y') >= "now"|date('d/m/Y')%}
                                <div class="card index-card">
                                    {#<div class="card-header">{{session.nom}} <br> du {{session.dateDebut|localizeddate('full', 'none')}} au {{session.dateFin|localizeddate('full', 'none')}}</div>#}
                                    <div class="card-header nameMember" style="background-color: #DA6552;">{{session.nom}} <br> du {{session.dateDebut|date('d/m/Y')}} au {{session.dateFin|date('d/m/Y')}}</div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            {%for atelier in ateliers%}
                                                {% for seance in seances %}
                                                    {%if atelier.session.id is same as (session.id) and atelier.id is same as (seance.atelier.id)%}
                                                        {% for facilitateur in atelier.facilitateurs %}
                                                            {% if facilitateur.id is same as (app.user.id) %}
                                                                <li><a href="{{ path('atelier', {'id': atelier.id}) }}">{{atelier.nom}}</a> (le {{ seance.date|date("Y-m-d") }} de {{ seance.heureDebut|date("H:i") }} à {{ seance.heureFin|date("H:i") }})</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {%endif%}
                                                {% endfor %}
                                            {%endfor%}
                                        </h4>
                                        <hr>
                                    </div>
                                    <button class="btn btn-primary btn-sm" style="background-color: #DA6552;" ></button>
                                </div>
                            {%else%}
                                <div style="margin-top: 20px;">
                                    <h5 style="text-align: center;">Vous n'avez été assigné à aucune session en cours ou à venir pour le moment</h5>
                                </div>                   
                            {%endif%}
                        {% endif %}
                    {%endfor%}
                {%endfor%}
            </div>
        </div>
    </div>
    {% else %}
        <h1 class="titre animated bounceInRight">Les sessions</h1>
        <br>
        <div class="container-fluid">
            <div class="row row-custom">
            {%for session in sessions%}
                {%if session.isValidate and session.dateFin|date('d/m/Y') >= "now"|date('d/m/Y')%}
                    <div class="card index-card animated zoomIn delay-1s">
                        {#<div class="card-header">{{session.nom}} <br> du {{session.dateDebut|localizeddate('full', 'none')}} au {{session.dateFin|localizeddate('full', 'none')}}</div>#}
                        <div class="card-header nameMember" style="background-color: #DA6552;">{{session.nom}} <br> du {{session.dateDebut|date('d/m/Y')}} au {{session.dateFin|date('d/m/Y')}}</div>
                        <div class="card-body">
                            <h4 class="card-title">
                                {%for atelier in ateliers%}
                                    {%if atelier.session.id is same as (session.id)%}
                                        <li>{{atelier.nom}}</li>
                                    {%endif%}
                                {%endfor%}
                            </h4>
                            <hr>
                            <div class="text-center">
                                <a class="btn btn-primary btn-sm hvr-grow" href="/detail/session/{{session.id}}">Voir plus</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary hvr-underline-reveal" data-toggle="modal" data-target="#particiption{{ session.id }}" style="background-color: #DA6552;">Participer</button>
                    </div>
                {%else%}
                <div style="margin-top: 20px;">
                    <h5 class="text-center;">Il n'y a aucune session en cours ou à venir</h5>
                </div>                   
                {%endif%}
                <div class="modal fade" id="particiption{{ session.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Formulaire de Participation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form>
                                <div class="container">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Nom</label>
                                            <input type="text" class="form-control" name="nom" id="nomP{{ session.id }}" required="" placeholder="entrez votre nom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Prenom</label>
                                            <input type="text" class="form-control" name="prenom" id="prenomP{{ session.id }}" required="" placeholder="entrez votre prenom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" id="emailP{{ session.id }}" required="" placeholder="entrez votre email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Téléphone</label>
                                            <input type="tel" class="form-control" name="tel" id="tel{{ session.id }}" required="" placeholder="06******96">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-primary" onclick="addParticipant({{session.id}})">Je participe</button>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}