{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="titre2 animated">Liste des sessions</h1>
        {#bounceInLeft#}
        <div class="">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item"><a class="nav-link onglet active" href="#valide" data-toggle="tab">A valider</a></li>
                <li class="nav-item"><a class="nav-link onglet" href="#venir" data-toggle="tab">A venir</a></li>
                <li class="nav-item"><a class="nav-link onglet" href="#cours" data-toggle="tab">En cours</a></li>
                <li class="nav-item"><a class="nav-link onglet" href="#fini" data-toggle="tab">Terminée</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="valide">
                    <div class="table-responsive">
                        <a class="btn btn-info btn-sm" href="{{path('create_session')}}" data-toggle="modal" data-target="#createSession" style="float: right; margin-left: 10px" >Créer Session</a>
                        <table id="exemple" class="table table-striped table-bordered" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>Nom</th>
                                    <th>Date de debut</th>
                                    <th>Date de fin</th>
                                    <th>Voir</th>
                                    <th>Valider</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for session in sessions%}
                                    {%if not session.isValidate%}
                                        <tr class="text-center">
                                            <td>{{session.nom}}</td>
                                            <td>{{session.dateDebut|date('d/m/Y')}}</td>
                                            <td>{{session.dateFin|date('d/m/Y')}}</td>
                                            <td><a class="iconDTable" href="{{ path('session', {'id': session.id}) }}" title="Voir la session"><i class="far fa-eye fa-2x"></i></a></td>
                                            <td><a class="iconDTable" href="" title="Valider la session" onclick="validateSession({{session.id}},event)" style="color: #28A745"><i class="fas fa-check fa-2x"></i></a>
                                            <td><a class="iconDTable" href="" title="Supprimer la session" data-toggle="modal" data-target="#warningModal{{ session.id }}" style="color: red"><i class="far fa-trash-alt fa-2x"></i></a>
                                        </tr>
                                    {%endif%}
                                {%endfor%}
                            </tbody>
                            {#<tfoot>#}
                                {#<tr>#}
                                    {#<th>Nom</th>#}
                                    {#<th>Date de debut</th>#}
                                    {#<th>Date de fin</th>#}
                                    {#<th>Detail</th>#}
                                {#</tr>#}
                            {#</tfoot>#}
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="venir">
                    <div class="table-responsive">
                        <a class="btn btn-info btn-sm" href="{{path('create_session')}}" data-toggle="modal" data-target="#createSession" style="float: right; margin-left: 10px" >Créer Session</a>
                        <table id="exemple2" class="table table-striped table-bordered" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>Nom</th>
                                    <th>Date de debut</th>
                                    <th>Date de fin</th>
                                    <th>Voir</th>
                                    <th>Annuler</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for session in sessions%}
                                    {%if session.isValidate and session.dateDebut|date('d/m/Y') > "now"|date('d/m/Y')%}
                                        <tr class="text-center">
                                            <td>{{session.nom}}</td>
                                            <td>{{session.dateDebut|date('d/m/Y')}}</td>
                                            <td>{{session.dateFin|date('d/m/Y')}}</td>
                                            <td><a class="iconDTable" href="{{ path('session', {'id': session.id}) }}" title="Voir la session"><i class="far fa-eye fa-2x"></i></a></td>
                                            <td><a class="iconDTable" href="" title="Annuler la session" onclick="annulerSession({{session.id}},event)" style="color: #F67502"><i class="fas fa-times fa-2x"></i></a></td>
                                            <td><a class="iconDTable" href="" title="Supprimer la session" data-toggle="modal" data-target="#warningModal{{ session.id }}" style="color: red"><i class="far fa-trash-alt fa-2x"></i></a></td>
                                        </tr>
                                    {%endif%}
                                {%endfor%}
                            </tbody>
                            {#<tfoot>#}
                                {#<tr>#}
                                    {#<th>Nom</th>#}
                                    {#<th>Date de debut</th>#}
                                    {#<th>Date de fin</th>#}
                                    {#<th>Detail</th>#}
                                {#</tr>#}
                            {#</tfoot>#}
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="cours">
                    <div class="table-responsive">
                        <a class="btn btn-info btn-sm" href="{{path('create_session')}}" data-toggle="modal" data-target="#createSession" style="float: right; margin-left: 10px" >Créer Session</a>
                        <table id="exemple3" class="table table-striped table-bordered" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>Nom</th>
                                    <th>Date de debut</th>
                                    <th>Date de fin</th>
                                    <th>Voir</th>
                                    <th>Annuler</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for session in sessions%}
                                    {%if session.isValidate%}
                                        {%if session.dateDebut|date('d/m/Y') <= "now"|date('d/m/Y') and session.dateFin|date('d/m/Y') >= "now"|date('d/m/Y')%}
                                            <tr class="text-center">
                                                <td>{{session.nom}}</td>
                                                <td>{{session.dateDebut|date('d/m/Y')}}</td>
                                                <td>{{session.dateFin|date('d/m/Y')}}</td>
                                                <td><a class="iconDTable" href="{{ path('session', {'id': session.id}) }}" title="Voir la session"><i class="far fa-eye fa-2x"></i></a></td>
                                                <td><a class="iconDTable" href="" title="Annuler la session" onclick="annulerSession({{session.id}},event)" style="color: #F67502"><i class="fas fa-times fa-2x"></i></a></td>
                                                <td><a class="iconDTable" href="" title="Supprimer la session" data-toggle="modal" data-target="#warningModal{{ session.id }}" style="color: red"><i class="far fa-trash-alt fa-2x"></i></a></td>
                                            </tr>
                                        {%endif%}
                                    {%endif%}
                                {%endfor%}
                            </tbody>
                            {#<tfoot>#}
                                {#<tr>#}
                                    {#<th>Nom</th>#}
                                    {#<th>Date de debut</th>#}
                                    {#<th>Date de fin</th>#}
                                    {#<th>Detail</th>#}
                                {#</tr>#}
                            {#</tfoot>#}
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="fini">
                    <div class="table-responsive">
                        <a class="btn btn-info btn-sm" href="{{path('create_session')}}" data-toggle="modal" data-target="#createSession" style="float: right; margin-left: 10px" >Créer Session</a>
                        <table id="exemple4" class="table table-striped table-bordered" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>Nom</th>
                                    <th>Date de debut</th>
                                    <th>Date de fin</th>
                                    <th>Voir</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for session in sessions%}
                                    {%if session.isValidate and session.dateFin|date('d/m/Y') < "now"|date('d/m/Y')%}
                                        <tr class="text-center">
                                            <td>{{session.nom}}</td>
                                            <td>{{session.dateDebut|date('d/m/Y')}}</td>
                                            <td>{{session.dateFin|date('d/m/Y')}}</td>
                                            <td><a href="{{ path('recap', {'id': session.id}) }}" title="Voir la session"><i class="far fa-eye fa-2x"></i></a></td>
                                        </tr>
                                    {%endif%}
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {#Modal de création de session#}
        <div class="modal fade" id="createSession" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel" style="margin-left: 88px; margin-top: 20px">Creer une session</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="notif">
                            {% for label, flashes in app.session.flashbag.all %}
                                {% for flash in flashes %}
                                    {% if ( label == 'success' ) %}
                                        <div class="alert alert-success alert-dismissible fade show">
                                            {{ flash }}
                                        </div>
                                    {% elseif ( label == 'error' ) %}
                                        <div class="alert alert-danger alert-dismissible fade show">
                                            {{ flash }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nom :</label>
                                    <input type="text" class="form-control" id="nomSession" placeholder="Nom" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Date de debut :</label>
                                    <input type="date" class="form-control" id="dateDSession" placeholder="Debut" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Date de fin :</label>
                                    <input type="date" class="form-control" id="dateFSession" placeholder="Fin" required="required">
                                </div>
                            </form>
                            <button type="submit" class="btn btn-success btn-sm btn-form" onclick="createSession(event)">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#Modal de création de facilitateur#}
        <div class="modal fade" id="createFacilitateur" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel" style="margin-left: 43px; margin-top: 20px">Ajouter un facilitateur</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom :</label>
                                <input type="text" class="form-control" id="nom" placeholder="Nom" required="required">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Prenom :</label>
                                <input type="text" class="form-control" id="prenom" placeholder="Prenom" required="required">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email :</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" required="required">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Entreprise :</label>
                                <input type="text" class="form-control" id="entreprise" placeholder="Entreprise" required="required">
                            </div>
                            <button type="submit" class="btn btn-success btn-sm btn-form" onclick="addFacilitateur(event)">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%for session in sessions%}
        <div class="modal fade hideModal" id="warningModal{{ session.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Attention !</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous sûr de vouloir supprimer la session {{ session.nom }} ?</p>
                        <button type=button class="btn btn-success btn-sm modalDelete" onclick="deleteSession({{session.id}}, event)">Oui</button>
                        <button type=button class="btn btn-danger btn-sm modalDelete" data-dismiss="modal">Non</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <br><br>
        <h1 class="titre2 animated">Liste des facilitateurs</h1>
        {#bounceInRight delay-1s#}
        <div>
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item"><a class="nav-link onglet active" href="#liste" data-toggle="tab">Liste</a></li>
            </ul>
            <div class="table-responsive">
                <div class="tab-content">
                    <div class="tab-pane active" id="liste">
                        <div class="table-responsive">
                            <a class="btn btn-info btn-sm text-right" href="{{path('register_facilitateur')}}" data-toggle="modal" data-target="#createFacilitateur" style="float: right; margin-left: 10px">Ajouter Facilitateur</a>
                            <table id="facilitateur" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Prenom</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Entreprise</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%for usr in facilitateurs%}
                                    <tr>
                                        <td class="text-center">{{usr.nom}}</td>
                                        <td class="text-center">{{usr.prenom}}</td>
                                        <td class="text-center">{{usr.email}}</td>
                                        <td class="text-center">{{usr.entreprise}}</td>
                                        <td class="text-center">
                                            <a data-toggle="modal" href="" title="Supprimer le facilitateur" data-target="#deleteFacilitateur{{ usr.id }}" style="color: red"><i class="far fa-trash-alt fa-2x"></i></a>
                                        </td>
                                    </tr>
                                    <div class="modal fade hideModal" id="deleteFacilitateur{{ usr.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="exampleModalLabel">Attention !</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Êtes-vous sûr de vouloir supprimer le facilitateur {{ usr.nom }} ?</p>
                                                    <button type=button class="btn btn-success btn-sm modalDelete" onclick="dellFacilitateur({{usr.id}},event)">Oui</button>
                                                    <button type=button class="btn btn-danger btn-sm modalDelete" data-dismiss="modal">Non</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {#</div>#}
{#</div>#}
    </div>
    <script>
        $(document).ready(function() {
            $('#exemple').DataTable(

                 {

              "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "iDisplayLength": 5
               }
                );
            $('#exemple2').DataTable(

                 {

              "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "iDisplayLength": 5
               }
                );
            $('#exemple3').DataTable(

                 {

              "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "iDisplayLength": 5
               }
                );
            $('#exemple4').DataTable(

                 {

              "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "iDisplayLength": 5
               }
                );
            $('#facilitateur').DataTable(

                 {

              "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "iDisplayLength": 5
               }
                );
        } );
    </script>
{% endblock %}