{% extends 'base.html.twig' %}

{% block body %}
    {%if app.user%}
        <div class="container emp-profile">
            <form method="post">
                <div class="col-md-12">
                    <h3 class="titre2">Mes Informations</h3>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                                <div class="file btn btn-sm btn-primary" style="margin-top: 0px">
                                    Changer Photo
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <form>
                                        <div class="row">
                                            <div style="margin-right: 10px; width: 330px">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" name="nom" id="nom" value="{{ app.user.nom }}">
                                            </div>
                                            <div style="width: 330px">
                                                <label>Prenom</label>
                                                <input type="text" class="form-control" name="prenom" id="prenom" value="{{ app.user.prenom }}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="margin-right: 10px; width: 330px">
                                                <label>Email</label>
                                                <input type="email" class="form-control" name="email" id="email" value="{{ app.user.email }}">
                                            </div>
                                            <div style="width: 330px">
                                                <label>Entreprise</label>
                                                <input type="text" class="form-control" name="entreprise" id="entreprise" value="{{ app.user.entreprise }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h3 style="text-align: left; margin-top: 20px">Securité</h3>
                                        </div>
                                        <div class="row">
                                            <div style="margin-right: 10px; width: 330px" id="show_hide_password">
                                                <label>Mot de passe</label>
                                                <div class="input-group" id="show_hide_password">
                                                    <input class="form-control" type="password" name="password" id="password" placeholder="Modification de votre mot de passe">
                                                    <div class="input-group-addon">
                                                        <a href=""><i class="fa fa-eye-slash eye" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="width: 330px" id="show_hide_password">
                                                <label>Mot de passe</label>
                                                <div class="input-group" id="show_hide_password">
                                                    <input type="password" class="form-control" name="plainpassword" id="plainpassword" placeholder="Répéter votre mot de passe">
                                                    <div class="input-group-addon">
                                                        <a href=""><i class="fa fa-eye-slash eye" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-11" style="margin-top: 10px">
                                            <button onclick="updateProfil(event)" class="btn btn-primary btn-sm btnConnexion" style="float: right">Valider</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {%else%}
        {% include "errors/404.html.twig" %}
    {%endif%}
{% endblock %}
