<div class="notfound text-center">
    <h1>404</h1>
    <h2>Cette page est introuvable</h2>
    <p>Cette page n'existe pas ou à été supprimée</p>
    <a class="btn btn-info" href="{{ path("open_inno") }}">Retour au profil</a>
</div>