{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user%}
        {% if app.user.id is same as (session.admin.id) %}
        <div class="session" id="{{ session.id }}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9 space">
                        <div class="row">
                            <div class="col-12 animated bounceInUp delay-1s" style="float: right; margin-bottom: 10px">
                                <button id="btn-warning" class="btn btn-warning btn-update btn-sm hvr-grow animated bounceInUp" data-toggle="modal" data-target="#addSeance" style="margin-left: 10px; float: right">Créer un Atelier / Séance</button>
                            </div>
                            <div class="col-12">
                                <div id="calendar"></div>
                                <div style='clear:both'></div>
                            </div>
                        </div>
                        <div class="addSeance">
                            <div class="modal fade" id="addSeance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content modalHeight">
                                        <div class="modal-header">
                                            <h1 class="titleModal">Création Ateliers/Séances</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="text-center" id="progressbar">
                                                <li class="active">Personal Details</li>
                                                <li>Social Profiles</li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form id="msform" class="text-center">
                                                        <fieldset>
                                                            <h1 class="fs-title">Créer un atelier</h1>
                                                            <div id="atelierForm">
                                                                <label class="text-left">Nom :</label>
                                                                <input type="text" id="nom" type="text" placeholder="entrez le nom d'un atelier" required>
                                                                <label class="text-left">Description :</label>
                                                                <textarea type="text" id="description" class="area" rows="12" placeholder="entrez une description" required></textarea>
                                                            </div>
                                                            <button type="button" class="btn action-button btn-success btn-sm btn-multiForm" onclick="addAtelier({{ session.id }})">Ajouter Atelier</button>
                                                            <button type="button" name="next" class="next action-button btn btn-info btn-sm btn-multiForm" onclick="addAtelier({{ session.id }})">Suivant</button>
                                                        </fieldset>
                                                        <fieldset>
                                                            <h2 class="fs-title">Créer une séance</h2>
                                                            <div id="seanceForm">
                                                                {#Jquery Modal#}
                                                            </div>

                                                            <br>
                                                            <button type="button" name="previous" class="previous action-button btn btn-info btn-sm btn-multiForm">Précédent</button>
                                                            <button class="btn action-button btn-success btn-sm btn-multiForm" onclick="createSeance({{ session.id }})">Ajouter Séance</button>
                                                            <button type="button" class="btn action-button btn-primary btn-sm btn-multiForm" onclick="createSeance({{ session.id }}), document.location.reload()">Terminer</button>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="getModal"></div>
                        <div id="getWarningModal"></div>
                        <br>
                    </div>
                    <br><br>
                    <div class="col-3 aside" style="background-color: #DA6552;">
                        <h2 class="titre2" style="color: white; text-align: center; margin-top: 23px">Facilitateurs</h2>
                        <div id="testt" class="col-sm-12 col-md-12 col-lg-12">
                            <div id="test" class="row row-custom">
                                {%for facilitateur in session.facilitateurs%}
                                    <div id="card" class="card card-fac-session col-md-12 col-lg-5">
                                        <div id="col-12" class="text-center">
                                            <p class="card-title nameMemberBlack name-card-session" style="margin-top: 5px">{{facilitateur.prenom}}<br>{{facilitateur.nom}}</p><hr>
                                            <button type="submit" class="btn btn-outline-primary btn-sm hvr-grow" data-toggle="modal" data-target="#addFtAModal{{ facilitateur.id }}">Ajouter à</button><br><br>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="addFtAModal{{ facilitateur.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title titre-modal" id="exampleModalLabel" style="text-align: center">Ajouter/Retirer à un atelier</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form class="form" role="form" autocomplete="off" id="adminForm" method="POST">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <div class="container input-modal">
                                                                <em>Selectionnez les ateliers</em>
                                                                <select data-placeholder="Choix des ateliers" id="ateliers{{ facilitateur.id }}" class="chosen-select" multiple tabindex="10">
                                                                    <option></option>
                                                                    {%for s_a in session.ateliers%}
                                                                        <option value="{{s_a.id}}">{{s_a.nom}}</option>
                                                                    {%endfor%}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Fermer</button>
                                                    <button type="button" class="btn btn-primary  btn-sm" onclick="addFtA({{ facilitateur.id }})">Valider</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            {%if session.dateFin|date('d/m/Y') >= "now"|date('d/m/Y')%}
                                <button type="submit" class="btn btn-primary btn-sm hvr-grow" data-toggle="modal" data-target="#addModal">Ajouter / Supprimer</button>
                            {%endif%}
                        </div>
                        <br><br>
                        <h2 class="titre2" style="color: white; text-align: center">Participants</h2>
                        <br>
                        <div class="col-12">
                            <div class="text-center">
                                {%if session.dateDebut|date('d/m/Y') <= "now"|date('d/m/Y') and session.dateFin|date('d/m/Y') >= "now"|date('d/m/Y')%}
                                    <button type="submit" class="btn btn-primary btn-sm hvr-grow" data-toggle="modal" data-target="#addParticipantModal">Ajouter</button>
                                {%endif%}
                            </div>
                        </div>
                        <br>
                        <div id="testt" class="col-sm-12 col-md-12 col-lg-12">
                            <div id="cardParticipant" class="row row-custom">
                                {%for p_s in participantSession%}
                                    <div class="card card-fac-session col-sm-5 col-md-5 col-lg-5">
                                        <div class="text-center" id="bodyCard{{ p_s.id }}">
                                            <p class="card-title nameMemberBlack">{{p_s.nom}}</p>
                                            <p class="card-title nameMemberBlack">{{p_s.prenom}}<p>
                                            <hr>
                                            {% if not p_s.isPresent %}
                                                {%if session.dateDebut|date('d/m/Y') <= "now"|date('d/m/Y') and session.dateFin|date('d/m/Y') >= "now"|date('d/m/Y')%}
                                                    <button class="btn btn-outline-primary btn-sm btn-presence" onclick="validerPresence({{ p_s.id }}, {{ session.id }})">Présence</button>
                                                {% endif %}
                                            {% else %}
                                                <p class="text-center" style="margin-bottom: 0px"><i class="fas fa-check fa-2x text-center" style="color: #28A745"></i></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Ajouter/Supprimer un facilitateur</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="form" role="form" autocomplete="off" id="adminForm" method="POST">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="container input-modal">
                                                {{ form_start(formAddF) }}
                                                {{ form_row(formAddF.facilitateurs, {'attr' : {'data-placeholder' : "Facilitateurs"} }) }}
                                                {{ form_end(formAddF) }}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addParticipantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Ajouter un Participant</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="container">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" name="nom" id="nomParticipant" required="" placeholder="entrez votre nom">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Prenom</label>
                                                <input type="text" class="form-control" name="prenom" id="prenomParticipant" required="" placeholder="entrez votre prenom">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" name="email" id="emailParticipant" required="" placeholder="entrez votre email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Téléphone</label>
                                                <input type="tel" class="form-control" name="tel" id="telParticipant" required="" placeholder="06******96">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addLiveParticipant({{session.id}})">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            {% include "errors/404.html.twig" %}
        {% endif %}
    {% else %}
        {% include "errors/404.html.twig" %}
   {% endif %}
{% endblock %}
