{% extends 'base.html.twig' %}

{% block title %}{{session.nom}}{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="row">
            <div class="col-8">
                <h1 class="titleSession animated fadeInRight">{{session.nom}} du {{session.dateDebut|date('d/m/Y')}} au {{session.dateFin|date('d/m/Y')}}</h1>
                <br>
                {#<h3>du {{session.dateDebut|localizeddate('full', 'none')}} au {{session.dateFin|localizeddate('full', 'none')}}</h3>    #}
                <h1 class="seance">Les Séances</h1>
                <div class="col-12">
                    <div class="row">
                        {%for seance in seances%}
                            {%if seance.atelier.session.id is same as (session.id)%}
                            <div class="col-5 card detail-card-seance animated zoomIn delay-1s">
                                <h3 class="detail-seance" style="padding-right: 30px;"> le {{seance.date|date('d/m/Y')}}</h3>
                                <h5 style="min-height: 40px; margin-left: 5px;">Lieu: {{ seance.adresse }}</h5>
                                <div class="card" style="margin-bottom: 20px">
                                    <div class="card-header titre-detail-telier">{{seance.atelier.nom}} de {{seance.heureDebut|date('h:i')}} à {{seance.heureFin|date('h:i')}}</div>
                                    <div class="card-body">
                                        <p class="card-text">{{ seance.atelier.description }}</p>
                                        <hr>
                                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#recap{{ seance.atelier.id }}">Voir les idées</button>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                            <div class="modal fade" id="recap{{ seance.atelier.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Liste des idées</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="col-12">
                                            <ol>
                                                <div class="row">
                                                {% for idee in idees %}
                                                    <div class="col-4">
                                                        {% if idee.atelier.id is same as (seance.atelier.id) %}
                                                            <li>{{ idee.intitule }}</li>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col-4 aside" style="background-color: #DA6552;">
                {#<h3 class="titre2 animated fadeInUp delay-2s" style="color: white;">Facilitateurs</h3>#}
                {#<div class="container-fluid">#}
                    {#<div class="row row-custom">#}
                        {#{%for facilitateur in session.facilitateurs%}#}
                            {#<div class="card cardDetailSession">#}
                                {#<div class="card-body">#}
                                    {#<p class="card-title nameMemberBlack">{{facilitateur.prenom}}<br>{{facilitateur.nom}}</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#{%endfor%}#}
                    {#</div>#}
                {#</div>#}
                {#<h3 class="titre2 animated fadeInUp delay-3s" style="color: white; text-align: center;">Participant</h3>#}
                {#<div class="container-fluid">#}
                    {#<div class="row row-custom">#}
                        {#{%for participant in participantSession%}#}
                            {#<div class="card cardDetailSession">#}
                                {#<div class="card-body">#}
                                    {#<p class="card-title nameMemberBlack">{{participant.prenom}}</p>#}
                                    {#<p class="card-title nameMemberBlack">{{participant.nom}}</p>#}
                                    {#<hr>#}
                                    {#{% if not participant.isPresent %}#}
                                        {#<p class="text-center" style="margin-bottom: 0px"><i class="fas fa-check fa-2x text-center" style="color: #28A745"></i></p>#}
                                    {#{% else %}#}
                                        {#<p class="text-center" style="margin-bottom: 0px"><i class="fas fa-times fa-2x text-center" style="color: red"></i></p>#}
                                    {#{% endif %}#}
                                {#</div>#}
                            {#</div>#}
                        {#{%endfor%}#}
                    {#</div>#}
                {#</div>#}
                <h3 class="titre2 animated fadeInUp delay-2s" style="color: white;">Facilitateurs</h3>
                <div id="testt" class="col-sm-12 col-md-12 col-lg-12">
                    <div id="test" class="row row-custom">
                        {%for facilitateur in session.facilitateurs%}
                            <div id="card" class="card card-fac-session col-md-12 col-lg-5">
                                <div id="col-12" class="text-center">
                                    <p class="card-title nameMemberBlack name-card-session" style="margin-top: 5px">{{facilitateur.prenom}}<br>{{facilitateur.nom}}</p><hr>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <h3 class="titre2 animated fadeInUp delay-3s" style="color: white; text-align: center;">Participants</h3>
                <div id="testt" class="col-sm-12 col-md-12 col-lg-12">
                    <div id="test" class="row row-custom">
                        {%for participant in participantSession%}
                            <div class="card card-fac-session col-sm-5 col-md-5 col-lg-5">
                                <div class="text-center">
                                    <p class="card-title nameMemberBlack">{{participant.nom}}</p>
                                    <p class="card-title nameMemberBlack">{{participant.prenom}}</p>
                                    <hr>
                                    {% if participant.isPresent %}
                                    <p class="text-center" style="margin-bottom: 0px"><i class="fas fa-check fa-2x text-center" style="color: #28A745"></i></p>
                                    {% else %}
                                    <p class="text-center" style="margin-bottom: 0px"><i class="fas fa-times fa-2x text-center" style="color: red"></i></p>
                                    {% endif %}
                                </div>
                            </div>
                        {%endfor%}
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}