.titleAtelier{
    margin-top: 20px;
    background-color: #335480;
    margin: 0px -30px 35px;
    padding: 15px;
    color: white;
}

.titleCard{
    /*margin-top: 20px;*/
    background-color: #da6552;
    margin: 0px 0px 0px;
    padding: 15px;
    color: white;
    width: 100%;
}

.card-body-facilit{
    margin-left: 30px !important;
    margin-top: 25px;
    margin-bottom: 20px;
    border: solid;
    border-color: #da6552;
    /*border-bottom-left-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
    width: 160px;
    height: 165px !important;
}

.titleCardIdea{
    padding: 6px;
    background-color: #335480 !important;
    /*margin: 0px -18px 20px;*/
    /*border-top-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
    color: white;
}

.titleCardIdea2{
    padding: 6px;
    background-color: #335480 !important;
    margin: 0px -18px 20px;
    /*border-top-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
    color: white;
}

.titleCardChat{
    padding: 10px;
    background-color: #335480 !important;
    color: white;
}

.idee{
    color: black;
}

.divBorder{
    border-style: solid;
    border-color: #335480;
    background-color: white;
    /*border-radius: 20px;*/
}

.divFacilit{
    margin-bottom: 20px;
    min-height: 275px;
    max-height: 275px;
}

.area-disabled{
    background-color: whitesmoke !important;
}

/*.card-atelier{*/
    /*!*border: solid;*!*/
    /*border-color: #335480;*/
    /*!*border-radius: 20px;*!*/
    /*width: 1180px;*/
    /*!*margin-left: -37px;*!*/
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
/*}*/

.carousel-control-next-icon {
    background-color: #da6552 !important;
    margin-right: -50px !important;
    margin-top: 20px;
}
.carousel-control-prev-icon {
    background-color: #da6552 !important;
    margin-left: -128px !important;
    margin-top: 20px;
}

.carousel-control-next{
    right: -40px !important;
}

.rowCustom{
    background-color: white;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btn-remove{
    position: absolute !important;
    top: 65% !important;
    transform: translateX(-50%) !important;

}

.col-3-spe{
    -webkit-box-flex: 0 !important;
    -ms-flex: 0% !important;
    flex: 0% !important;
    max-width: 31% !important;
    width: 410px !important;
    margin-left: 35px;
}

.ideaListe{
    font-size: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.divIdeeListe{
    margin-left: 0;
    max-height: 490px
}

/*-----------------------------carousel------------------------------*/

.cardCenter{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.card-body-facilit{
    transition: opacity 1s ease-in-out;
    transition-property: opacity;
    /*transition-delay: .5s;*/
    opacity: 0;
}

.active .card-body-facilit {
    opacity: 1;
}

.nameMemberAtelier{
    text-align: center !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: black !important;
}

.detail-seance{
    text-align: center;
    font-weight: bold !important;
    background-color: #da6552 !important;
    color: white;
    margin: -1px -16px 15px -16px;
}

.detail-card-seance{
    margin-right: auto;
    margin-left: auto;
}

.btn-go{
    /*margin-top: 20px;*/
}

.start{
    /*toujours un ecart de 21px entre start et timer*/
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: 80px;
    font-size: 20px;
}

.timer{
    margin-top: 50px;
}





