body {
    background-color: #FFF !important;
}

@media (min-width: 0px) {
    .navbar {
        background-color: #DA6552 !important;
    }
    .navbar-collapse {
        margin-top: 10px;
    }
    .logo {
        height: 30px !important;
    }
    .inscription {
        padding-top: 50px !important;
    }
    .chosen-container,
    chosen-container-multi {
        width: 150px !important;
    }
    .btnConnexion {
        display: flex !important;
        float: right !important;
        background-color: #DA6552 !important;
    }
    .btnValiderFac {
        float: right !important;
        background-color: #DA6552 !important;
        margin-bottom: 10px;
    }
    .btn-outline-secondary {
        border-color: #FFF !important;
        color: #FFF !important;
    }
    .btn-outline-secondary:hover {
        background-color: #DA6552 !important;
    }
    .titreForm {
        text-align: center;
        font-size: 2rem !important;
    }
    .nav-link {
        color: white !important;
    }
    .onglet {
        color: black !important;
    }
    .notif {
        text-align: center !important;
    }
    .aside {
        min-height: 100vh !important;
    }
    .btn-center {
        text-align: center !important;
    }
    .titleSession {
        margin-top: 20px;
        text-align: center;
        background-color: #335480;
        margin: 0px -20px 0px;
        padding: 15px;
        color: white;
    }
    .seance {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #da6552 !important;
        color: white;
    }
    .row-custom {
        margin-left: auto;
        margin-right: auto;
    }
    .nameMember {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: white !important;
    }
    .nameMemberBlack {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: black !important;
    }
    .chosen-container {
        margin-left: 50px !important;
    }
    .titre-modal {
        margin-left: 70px !important;
    }
    .titre {
        margin-top: 30px;
        text-align: center !important;
    }
    .titre2 {
        margin-top: 10px !important;
        /*margin-bottom: 20px;*/
        font-size: 2.3vw;
        margin: 0px -7px 10px 0px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .titre-detail-telier {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .input-modal {
        margin-top: 15px;
    }
    .btn-update {
        float: right;
    }
    .btn-del {
        float: right;
        margin-right: -47px;
        margin-top: -65px !important;
        /*background-color: red !important;*/
    }
    .btn-form {
        float: right;
    }
    .hvr-underline-reveal:before {
        border-color: #335480 !important;
    }
    .nav-link {
        background-color: #0000 !important;
    }
    .modalDelete {
        float: right;
        margin-left: 5px;
    }
    .space {
        margin-top: 25px !important;
        margin-bottom: 15px !important;
    }
    #modalTitle {
        margin-left: 90px;
        margin-right: 15px;
    }
    .fc-center {
        margin-top: 10px !important;
    }
    .card-session {
        max-width: 100% !important;
        margin-bottom: 2% !important;
        margin-left: 2% !important;
        /*margin-right: 10px !important;*/
    }
    .name-card-session {
        padding-top: 15px !important;
        margin-bottom: -7px !important;
    }
    .card-fac-session {
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        margin-bottom: 4%;
    }
    .cardDetailSession {
        width: 135px !important;
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    .card-header:first-child {
        border-radius: 0px 0px 0px 0px!important;
    }
    .main-card {
        width: 200px !important;
        /*border-radius: 8px !important;*/
        /*margin-bottom: 10px !important;*/
        margin-left: 10px !important;
    }
    .index-card {
        margin-left: 10px !important;
        margin-top: 8px !important;
    }
    .btn-presence {
        margin-bottom: 5px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .navbar {
        background-color: #DA6552 !important;
    }
    .inscription {
        padding-top: 50px !important;
    }
    .logo {
        height: 30px !important;
    }
    .chosen-container,
    chosen-container-multi {
        width: 150px !important;
    }
    .btnConnexion {
        display: flex !important;
        float: right !important;
        background-color: #DA6552 !important;
    }
    .btnValiderFac {
        float: right !important;
        background-color: #DA6552 !important;
        margin-bottom: 10px;
    }
    .btn-outline-secondary {
        border-color: #FFF !important;
        color: #FFF !important;
    }
    .btn-outline-secondary:hover {
        background-color: #DA6552 !important;
    }
    .titreForm {
        text-align: center;
        font-size: 2rem !important;
    }
    .nav-link {
        color: white !important;
    }
    .onglet {
        color: black !important;
    }
    .notif {
        text-align: center !important;
    }
    .aside {
        min-height: 100vh !important;
    }
    .btn-center {
        text-align: center !important;
    }
    .titleSession {
        margin-top: 20px;
        text-align: center;
        background-color: #335480;
        margin: 0px -20px 0px;
        padding: 15px;
        color: white;
    }
    .seance {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #da6552 !important;
        color: white;
    }
    .row-custom {
        margin-left: auto;
        margin-right: auto;
    }
    .nameMember {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: white !important;
    }
    .nameMemberBlack {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: black !important;
    }
    .chosen-container {
        margin-left: 50px !important;
    }
    .titre-modal {
        margin-left: 70px !important;
    }
    .titre {
        margin-top: 30px;
        text-align: center !important;
    }
    .titre2 {
        margin-top: 10px !important;
        /*margin-bottom: 20px;*/
        font-size: 2.3vw;
        margin: 0px -7px 10px 0px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .titre-detail-telier {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .input-modal {
        margin-top: 15px;
    }
    .btn-update {
        float: right;
    }
    .btn-del {
        float: right;
        margin-right: -47px;
        margin-top: -65px !important;
        /*background-color: red !important;*/
    }
    .btn-form {
        float: right;
    }
    .hvr-underline-reveal:before {
        border-color: #335480 !important;
    }
    .nav-link {
        background-color: #0000 !important;
    }
    .modalDelete {
        float: right;
        margin-left: 5px;
    }
    .space {
        margin-top: 25px !important;
        margin-bottom: 15px !important;
    }
    #modalTitle {
        margin-left: 90px;
        margin-right: 15px;
    }
    .fc-center {
        margin-top: 10px !important;
    }
    .card-session {
        max-width: 100% !important;
        margin-bottom: 2% !important;
        margin-left: 2% !important;
        /*margin-right: 10px !important;*/
    }
    .name-card-session {
        padding-top: 15px !important;
        margin-bottom: -7px !important;
    }
    .card-fac-session {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }
    .cardDetailSession {
        width: 135px !important;
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    .card-header:first-child {
        border-radius: 0px 0px 0px 0px!important;
    }
    .main-card {
        width: 200px !important;
        /*border-radius: 8px !important;*/
        /*margin-bottom: 10px !important;*/
        margin-left: 10px !important;
    }
    .index-card {
        margin-left: 10px !important;
        margin-top: 8px !important;
    }
    .btn-presence {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .navbar {
        background-color: #DA6552 !important;
    }
    .logo {
        height: 30px !important;
    }
    .inscription {
        padding-top: 50px !important;
    }
    .chosen-container,
    chosen-container-multi {
        width: 150px !important;
    }
    .btnConnexion {
        display: flex !important;
        float: right !important;
        background-color: #DA6552 !important;
    }
    .btnValiderFac {
        float: right !important;
        background-color: #DA6552 !important;
        margin-bottom: 10px;
    }
    .btn-outline-secondary {
        border-color: #FFF !important;
        color: #FFF !important;
    }
    .btn-outline-secondary:hover {
        background-color: #DA6552 !important;
    }
    .titreForm {
        text-align: center;
        font-size: 2rem !important;
    }
    .nav-link {
        color: white !important;
    }
    .onglet {
        color: black !important;
    }
    .notif {
        text-align: center !important;
    }
    .aside {
        min-height: 100vh !important;
    }
    .btn-center {
        text-align: center !important;
    }
    .titleSession {
        margin-top: 20px;
        text-align: center;
        background-color: #335480;
        margin: 0px -20px 0px;
        padding: 15px;
        color: white;
    }
    .seance {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #da6552 !important;
        color: white;
    }
    .row-custom {
        margin-left: auto;
        margin-right: auto;
    }
    .nameMember {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: white !important;
    }
    .nameMemberBlack {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: black !important;
    }
    .chosen-container {
        margin-left: 50px !important;
    }
    .titre-modal {
        margin-left: 70px !important;
    }
    .titre {
        margin-top: 30px;
        text-align: center !important;
    }
    .titre2 {
        margin-top: 10px !important;
        /*margin-bottom: 20px;*/
        font-size: 2.3vw;
        margin: 0px -7px 10px 0px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .titre-detail-telier {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .input-modal {
        margin-top: 15px;
    }
    .btn-update {
        float: right;
    }
    .btn-del {
        float: right;
        margin-right: -47px;
        margin-top: -65px !important;
        /*background-color: red !important;*/
    }
    .btn-form {
        float: right;
    }
    .hvr-underline-reveal:before {
        border-color: #335480 !important;
    }
    .nav-link {
        background-color: #0000 !important;
    }
    .modalDelete {
        float: right;
        margin-left: 5px;
    }
    .space {
        margin-top: 25px !important;
        margin-bottom: 15px !important;
    }
    #modalTitle {
        margin-left: 90px;
        margin-right: 15px;
    }
    .fc-center {
        margin-top: 10px !important;
    }
    .card-session {
        max-width: 100% !important;
        margin-bottom: 2% !important;
        margin-left: 2% !important;
        /*margin-right: 10px !important;*/
    }
    .name-card-session {
        padding-top: 15px !important;
        margin-bottom: -7px !important;
    }
    .card-fac-session {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }
    .cardDetailSession {
        width: 135px !important;
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    .card-header:first-child {
        border-radius: 0px 0px 0px 0px!important;
    }
    .main-card {
        width: 200px !important;
        /*border-radius: 8px !important;*/
        /*margin-bottom: 10px !important;*/
        margin-left: 10px !important;
    }
    .index-card {
        margin-left: 10px !important;
        margin-top: 8px !important;
    }
    .btn-presence {
        margin-bottom: 5px;
    }
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 793px) {
    .navbar {
        height: 3rem !important;
        background-color: #DA6552 !important;
    }
    .inscription {
        padding-top: 50px !important;
    }
    .chosen-container,
    chosen-container-multi {
        width: 150px !important;
    }
    .btnConnexion {
        display: flex !important;
        float: right !important;
        background-color: #DA6552 !important;
    }
    .btnValiderFac {
        float: right !important;
        background-color: #DA6552 !important;
        margin-bottom: 10px;
    }
    .btn-outline-secondary {
        border-color: #FFF !important;
        color: #FFF !important;
    }
    .btn-outline-secondary:hover {
        background-color: #DA6552 !important;
    }
    .titreForm {
        text-align: center;
        font-size: 2rem !important;
    }
    .logo {
        height: 2rem !important;
    }
    .nav-link {
        color: white !important;
    }
    .onglet {
        color: black !important;
    }
    .notif {
        text-align: center !important;
    }
    .aside {
        min-height: 100vh !important;
    }
    .btn-center {
        text-align: center !important;
    }
    .titleSession {
        margin-top: 20px;
        text-align: center;
        background-color: #335480;
        margin: 0px -20px 0px;
        padding: 15px;
        color: white;
    }
    .seance {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #da6552 !important;
        color: white;
    }
    .row-custom {
        margin-left: auto;
        margin-right: auto;
    }
    .nameMember {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: white !important;
    }
    .nameMemberBlack {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: black !important;
    }
    .chosen-container {
        margin-left: 50px !important;
    }
    .titre-modal {
        margin-left: 70px !important;
    }
    .titre {
        margin-top: 30px;
        text-align: center !important;
    }
    .titre2 {
        margin-top: 10px !important;
        /*margin-bottom: 20px;*/
        font-size: 2.3vw;
        margin: 0px -7px 10px 0px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .titre-detail-telier {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .input-modal {
        margin-top: 15px;
    }
    .btn-update {
        float: right;
    }
    .btn-del {
        float: right;
        margin-right: -47px;
        margin-top: -65px !important;
        /*background-color: red !important;*/
    }
    .btn-form {
        float: right;
    }
    .hvr-underline-reveal:before {
        border-color: #335480 !important;
    }
    .nav-link {
        background-color: #0000 !important;
    }
    .modalDelete {
        float: right;
        margin-left: 5px;
    }
    .space {
        margin-top: 25px !important;
        margin-bottom: 15px !important;
    }
    #modalTitle {
        margin-left: 90px;
        margin-right: 15px;
    }
    .fc-center {
        margin-top: 10px !important;
    }
    .card-session {
        max-width: 100% !important;
        margin-bottom: 2% !important;
        margin-left: 2% !important;
        /*margin-right: 10px !important;*/
    }
    .name-card-session {
        padding-top: 15px !important;
        margin-bottom: -7px !important;
    }
    .card-fac-session {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }
    .cardDetailSession {
        width: 135px !important;
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    .card-header:first-child {
        border-radius: 0px 0px 0px 0px!important;
    }
    .main-card {
        width: 200px !important;
        /*border-radius: 8px !important;*/
        /*margin-bottom: 10px !important;*/
        margin-left: 10px !important;
    }
    .index-card {
        margin-left: 10px !important;
        margin-top: 8px !important;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .navbar {
        height: 3rem !important;
        background-color: #DA6552 !important;
    }
    .inscription {
        padding-top: 50px !important;
    }
    .chosen-container,
    chosen-container-multi {
        width: 150px !important;
    }
    .btnConnexion {
        display: flex !important;
        float: right !important;
        background-color: #DA6552 !important;
    }
    .btnValiderFac {
        float: right !important;
        background-color: #DA6552 !important;
        margin-bottom: 10px;
    }
    .btn-outline-secondary {
        border-color: #FFF !important;
        color: #FFF !important;
    }
    .btn-outline-secondary:hover {
        background-color: #DA6552 !important;
    }
    .titreForm {
        text-align: center;
        font-size: 2rem !important;
    }
    .logo {
        height: 2rem !important;
    }
    .nav-link {
        color: white !important;
    }
    .onglet {
        color: black !important;
    }
    .notif {
        text-align: center !important;
    }
    .aside {
        min-height: 100vh !important;
    }
    .btn-center {
        text-align: center !important;
    }
    .titleSession {
        margin-top: 20px;
        text-align: center;
        background-color: #335480;
        margin: 0px -20px 0px;
        padding: 15px;
        color: white;
    }
    .seance {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #da6552 !important;
        color: white;
    }
    .row-custom {
        margin-left: auto;
        margin-right: auto;
    }
    .nameMember {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: white !important;
    }
    .nameMemberBlack {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: black !important;
    }
    .chosen-container {
        margin-left: 50px !important;
    }
    .titre-modal {
        margin-left: 70px !important;
    }
    .titre {
        margin-top: 30px;
        text-align: center !important;
    }
    .titre2 {
        margin-top: 10px !important;
        /*margin-bottom: 20px;*/
        font-size: 2.3vw;
        margin: 0px -7px 10px 0px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .titre-detail-telier {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .input-modal {
        margin-top: 15px;
    }
    .btn-update {
        float: right;
    }
    .btn-del {
        float: right;
        margin-right: -47px;
        margin-top: -65px !important;
        /*background-color: red !important;*/
    }
    .btn-form {
        float: right;
    }
    .hvr-underline-reveal:before {
        border-color: #335480 !important;
    }
    .nav-link {
        background-color: #0000 !important;
    }
    .modalDelete {
        float: right;
        margin-left: 5px;
    }
    .space {
        margin-top: 25px !important;
        margin-bottom: 15px !important;
    }
    #modalTitle {
        margin-left: 90px;
        margin-right: 15px;
    }
    .fc-center {
        margin-top: 10px !important;
    }
    .card-session {
        max-width: 100% !important;
        margin-bottom: 2% !important;
        margin-left: 2% !important;
        /*margin-right: 10px !important;*/
    }
    .name-card-session {
        padding-top: 15px !important;
        margin-bottom: -7px !important;
    }
    .card-fac-session {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }
    .cardDetailSession {
        width: 135px !important;
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    .card-header:first-child {
        border-radius: 0px 0px 0px 0px!important;
    }
    .main-card {
        width: 200px !important;
        /*border-radius: 8px !important;*/
        /*margin-bottom: 10px !important;*/
        margin-left: 10px !important;
    }
    .index-card {
        margin-left: 10px !important;
        margin-top: 8px !important;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .navbar {
        height: 3rem !important;
        background-color: #DA6552 !important;
    }
    .inscription {
        padding-top: 50px !important;
    }
    .chosen-container,
    chosen-container-multi {
        width: 150px !important;
    }
    .btnConnexion {
        display: flex !important;
        float: right !important;
        background-color: #DA6552 !important;
    }
    .btnValiderFac {
        float: right !important;
        background-color: #DA6552 !important;
        margin-bottom: 10px;
    }
    .btn-outline-secondary {
        border-color: #FFF !important;
        color: #FFF !important;
    }
    .btn-outline-secondary:hover {
        background-color: #DA6552 !important;
    }
    .titreForm {
        text-align: center;
        font-size: 2rem !important;
    }
    .logo {
        height: 2rem !important;
    }
    .nav-link {
        color: white !important;
    }
    .onglet {
        color: black !important;
    }
    .notif {
        text-align: center !important;
    }
    .aside {
        min-height: 100vh !important;
    }
    .btn-center {
        text-align: center !important;
    }
    .titleSession {
        margin-top: 20px;
        text-align: center;
        background-color: #335480;
        margin: 0px -20px 0px;
        padding: 15px;
        color: white;
    }
    .seance {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #da6552 !important;
        color: white;
    }
    .row-custom {
        margin-left: auto;
        margin-right: auto;
    }
    .nameMember {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: white !important;
    }
    .nameMemberBlack {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: black !important;
    }
    .chosen-container {
        margin-left: 50px !important;
    }
    .titre-modal {
        margin-left: 70px !important;
    }
    .titre {
        margin-top: 30px;
        text-align: center !important;
    }
    .titre2 {
        margin-top: 10px !important;
        /*margin-bottom: 20px;*/
        font-size: 2.3vw;
        margin: 0px -7px 10px 0px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .titre-detail-telier {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .input-modal {
        margin-top: 15px;
    }
    .btn-update {
        float: right;
    }
    .btn-del {
        float: right;
        margin-right: -47px;
        margin-top: -65px !important;
        /*background-color: red !important;*/
    }
    .btn-form {
        float: right;
    }
    .hvr-underline-reveal:before {
        border-color: #335480 !important;
    }
    .nav-link {
        background-color: #0000 !important;
    }
    .modalDelete {
        float: right;
        margin-left: 5px;
    }
    .space {
        margin-top: 25px !important;
        margin-bottom: 15px !important;
    }
    #modalTitle {
        margin-left: 90px;
        margin-right: 15px;
    }
    .fc-center {
        margin-top: 10px !important;
    }
    .card-session {
        max-width: 100% !important;
        margin-bottom: 2% !important;
        margin-left: 2% !important;
        /*margin-right: 10px !important;*/
    }
    .name-card-session {
        padding-top: 15px !important;
        margin-bottom: -7px !important;
    }
    .card-fac-session {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }
    .cardDetailSession {
        width: 135px !important;
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    .card-header:first-child {
        border-radius: 0px 0px 0px 0px!important;
    }
    .main-card {
        width: 200px !important;
        /*border-radius: 8px !important;*/
        /*margin-bottom: 10px !important;*/
        margin-left: 10px !important;
    }
    .index-card {
        margin-left: 10px !important;
        margin-top: 8px !important;
    }
    .btn-presence {
        margin-bottom: 5px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1594px) {
    .navbar {
        height: 3rem !important;
        background-color: #DA6552 !important;
    }
    .inscription {
        padding-top: 50px !important;
    }
    .chosen-container,
    chosen-container-multi {
        width: 150px !important;
    }
    .btnConnexion {
        display: flex !important;
        float: right !important;
        background-color: #DA6552 !important;
    }
    .btnValiderFac {
        float: right !important;
        background-color: #DA6552 !important;
        margin-bottom: 10px;
    }
    .btn-outline-secondary {
        border-color: #FFF !important;
        color: #FFF !important;
    }
    .btn-outline-secondary:hover {
        background-color: #DA6552 !important;
    }
    .titreForm {
        text-align: center;
        font-size: 2rem !important;
    }
    .logo {
        height: 2rem !important;
    }
    .nav-link {
        color: white !important;
    }
    .onglet {
        color: black !important;
    }
    .notif {
        text-align: center !important;
    }
    .aside {
        min-height: 100vh !important;
    }
    .btn-center {
        text-align: center !important;
    }
    .titleSession {
        margin-top: 20px;
        text-align: center;
        background-color: #335480;
        margin: 0px -20px 0px;
        padding: 15px;
        color: white;
    }
    .seance {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #da6552 !important;
        color: white;
    }
    .row-custom {
        margin-left: auto;
        margin-right: auto;
    }
    .nameMember {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: white !important;
    }
    .nameMemberBlack {
        text-align: center !important;
        font-size: 20px !important;
        font-weight: bold !important;
        color: black !important;
    }
    .chosen-container {
        margin-left: 50px !important;
    }
    .titre-modal {
        margin-left: 70px !important;
    }
    .titre {
        margin-top: 30px;
        text-align: center !important;
    }
    .titre2 {
        margin-top: 10px !important;
        /*margin-bottom: 20px;*/
        font-size: 2.3vw;
        margin: 0px -7px 10px 0px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .titre-detail-telier {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold !important;
        background-color: #335480 !important;
        color: white;
    }
    .input-modal {
        margin-top: 15px;
    }
    .btn-update {
        float: right;
    }
    .btn-del {
        float: right;
        margin-right: -47px;
        margin-top: -65px !important;
        /*background-color: red !important;*/
    }
    .btn-form {
        float: right;
    }
    .hvr-underline-reveal:before {
        border-color: #335480 !important;
    }
    .nav-link {
        background-color: #0000 !important;
    }
    .modalDelete {
        float: right;
        margin-left: 5px;
    }
    .space {
        margin-top: 25px !important;
        margin-bottom: 15px !important;
    }
    #modalTitle {
        margin-left: 90px;
        margin-right: 15px;
    }
    .fc-center {
        margin-top: 10px !important;
    }
    .card-session {
        max-width: 100% !important;
        margin-bottom: 2% !important;
        margin-left: 2% !important;
        /*margin-right: 10px !important;*/
    }
    .name-card-session {
        padding-top: 15px !important;
        margin-bottom: -7px !important;
    }
    .card-fac-session {
        margin-left: 4% !important;
        margin-bottom: 4% !important;
        margin-right: 1% !important;
    }
    .cardDetailSession {
        width: 135px !important;
        margin-bottom: 15px !important;
        margin-left: 15px !important;
    }
    .card-header:first-child {
        border-radius: 0px 0px 0px 0px!important;
    }
    .main-card {
        width: 200px !important;
        /*border-radius: 8px !important;*/
        /*margin-bottom: 10px !important;*/
        margin-left: 10px !important;
    }
    .index-card {
        margin-left: 10px !important;
        margin-top: 8px !important;
    }
    .btn-presence {
        margin-bottom: 5px;
    }
}

.fa-check {
    color: #28A245;
}