{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timecircles/1.5.3/TimeCircles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timecircles/1.5.3/TimeCircles.js"></script>
    </head>
    {% if app.user %}
        {% set access = false %}
        {% for facilitateur in atelier.facilitateurs %}
            {% if app.user.id is same as (facilitateur.id)%}
                {% set access = true %}
            {% endif %}
        {% endfor %}
        {% if app.user.id is same as (atelier.session.admin.id) %}
            {% set access = true %}
        {% endif %}
        {% if access %}
            {% if seance.date|date('Y-m-d') <= "now"|date('Y-m-d') or app.user.id is same as (atelier.session.admin.id) %}
                <div class="user" id="{{ app.user.id }}"></div>
                <div class="seance" id="{{ seance.id }}"></div>
                <div class="atelier" id="{{ atelier.id }}">
                    <div class="col-12" style="background-color: whitesmoke">
                        <div class="row">
                            <div class="col-9">
                                <div class="col-12">
                                    <h2 class="text-center titleAtelier">{{ atelier.nom }}</h2>
                                </div>
                                <div class="col-12 divFacilit" style="margin-left: 0;">
                                    <div class="carousel card-atelier">
                                        <h3 class="text-center titleCard">Facilitateur</h3>
                                        <div id="carouselExampleControls" class="carousel slide row rowCustom" data-ride="carousel">
                                            <div class="row cardCenter">
                                                {% set debut = true %}
                                                {% for keys, facilitateur in atelier.facilitateurs%}
                                                {% if debut == true %}
                                                {% if keys == 0 %}
                                                <div id="test" class="carousel-item active">
                                                    {% else %}
                                                    <div class="carousel-item">
                                                        {% endif %}
                                                        <div class="row">
                                                            {% endif %}
                                                            {% set debut = false %}
                                                            <div class="cardCarousel">
                                                                <div class="card-body card-body-facilit">
                                                                    <div class="text-center">
                                                                        <p class="card-title nameMemberBlack">{{ facilitateur.prenom }}<p>
                                                                            <button type="submit" onclick="removeFacilitateur({{ atelier.id }},{{ facilitateur.id }})" class="btn btn-outline-primary btn-sm text-center btn-remove">Retirer</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% if keys % 3 == 0 and keys != 0 %}
                                                        </div>
                                                    </div>
                                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon carousel-control" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon carousel-control" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                    {% set debut = true %}
                                                    {% elseif keys % 3 != 0 and keys != 0 %}

                                                        {#{% set debut = true %}#}
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 row divIdeeListe">
                                    <div class="col-8 divBorder">
                                        <h3 class="text-center titleCardIdea2">Idées</h3>
                                        <div class="form-group">
                                            {% if seance.heureDebut|date("Y-m-d H:i") <= "now"|date_modify("+1 hour")|date('Y-m-d H:i') and seance.heureFin|date("Y-m-d H:i") >= "now"|date_modify("+1 hour")|date('Y-m-d H:i') %}
                                                <textarea class="form-control" id="idee" rows="15" style="max-height: 380px; background-color: white"></textarea>
                                            {% else %}
                                                <textarea class="form-control area-disabled" id="idee" rows="15" style="max-height: 380px; background-color: white" disabled="disabled" placeholder="indisponible pour le moment"></textarea>
                                            {% endif %}
                                            <button class="btn btn-primary btn-sm" onclick="addIdea({{atelier.id}})" style="float: right; margin-top: 5px; margin-bottom: 5px">Soumettre</button>
                                        </div>
                                    </div>
                                    <div class="divBorder col-3-spe">
                                        <h3 class="text-center titleCardIdea">Liste</h3>
                                        <div id="ideaListe" class="ideaListe">
                                            <ol>
                                                {% for idee in idees %}
                                                    <li class="idee">{{ idee.intitule }}</li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                                {#</div>#}
                                {#DIV fermante carousel#}
                                {#</div>#}
                                {#</div>#}


                                {#fin div fermante#}
                            </div>
                            <div class="col-3 aside" style="background-color: #DA6552;">
                                {#<div class="example stopwatch" data-timer="900"></div>#}
                                <div class="timer" id="DateCountdown" data-date="{{ interval|date_modify("+1 hours")|date("Y-m-d H:i:s") }}"></div>
                                <div id="btn-go" class="btn-go  animated bounceInRight">
                                    <button id="btnn" class="btn btn-success start btn-sm" onclick="lunch()">Démarrer l'atelier !</button>
                                </div>
                                <div class="col-12 aside">
                                    {#<div class="container-fluid">#}
                                    {#<div class="row justify-content-center">#}
                                    <div class="card chatCard">
                                        <h4 class="text-center titleCardChat" style="color: white;background-color: #335480">Zone de chat</h4><hr>
                                        <div class="card-body msg_card_body">
                                            <div class="msg_liste" id="msg_liste">
                                                {#La zone de chat est fait en Jquery, elle se trouve dans assets/js/script/chat.js#}
                                            </div>
                                        </div>
                                        <div class="card-footer" style="padding: 0">
                                            <div class="input-group">
                                                {% if seance.heureDebut|date('Y-m-d H:i') <= "now"|date_modify("+1 hour")|date('Y-m-d H:i') and seance.heureFin|date('Y-m-d H:i') >= "now"|date_modify("+1 hour")|date('Y-m-d H:i') %}
                                                    <textarea name="" class="form-control type_msg" id="textZone" placeholder="Message"></textarea>
                                                    <div class="input-group-append">
                                                        <button class="btn input-group-text send_btn" onclick="save_message({{ seance.id }})" style="width: 10px"><i class="fas fa-location-arrow"></i></button>
                                                    </div>
                                                {% else %}
                                                    <textarea name="" class="form-control type_msg area-disabled" id="textZone" placeholder="indisponible pour le moment" disabled="disabled"></textarea>
                                                    <div class="input-group-append">
                                                        <button class="btn input-group-text send_btn area-disabled" onclick="save_message({{ seance.id }})" style="width: 10px"><i class="fas fa-location-arrow"></i></button>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {#</div>#}
                                    {#</div>#}
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                </div>


