<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}StartIno{% endblock %}</title>
        <meta charset="UTF-8">
        {% block stylesheets %}
            {#// Add CSS Files Import#}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
            <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
            {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css">#}

            {#// Add CSS Files Import#}
            <link rel="stylesheet" href="{{asset('build/css/import/TimeCircles.css') }}">
            <link rel="stylesheet" href="{{asset('build/css/import/bootswatch.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/import/chosen.min.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/import/hover.min.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/import/prism.css')}}" rel="stylesheet">
            {#<link rel="stylesheet" href="{{asset('build/css/import/animate.min.css')}}" rel="stylesheet">#}

            {#// Add CSS Files Perso#}
            <link rel="icon" href="{{ asset('build/image/logo1.png') }}" type="image/x-icon">
            <link rel="stylesheet" href="{{asset('build/css/profil.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/stylesheet.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/fullcalendar.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/modal.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/chat.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/atelier.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="{{asset('build/css/errors.css')}}" rel="stylesheet">

            {#// Add JQuery#}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
            <script src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery-ui.min.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/jquery-clockpicker.js"></script>
            <script src="{{asset('build/js/bootstrap-notify.js')}}"></script>
        {% endblock %}
    </head>
        <nav class="navbar navbar-expand-sm navbar-light col-sm-12 container-fluid">
            {% if is_granted('ROLE_ADMIN') %}
            <a class="navbar-brand"><img class="logo" src="{{ asset('build/image/logo.png') }}" alt=""></a>
            {% else %}
            <a class="navbar-brand" href="{{ path('index') }}"><img class="logo" src="{{ asset('build/image/logo.png') }}" alt=""></a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    {%if app.user%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('open_inno') }}">Open Innovation</a>
                        </li>
                    {%endif%}
                </ul>
                <div class="connexion">
                    {% if not app.user %}
                        <a class="btn btn-outline-secondary btn-sm btnConnexion" href="{{ path('security_login')}}" style="margin-left: 5px">Connexion</a>
                        <a class="btn btn-outline-secondary btn-sm btnConnexion" href="{{ path('register_admin')}}">Inscription</a>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        {#<a tabindex="0" class="btn btn-outline-secondary btn-sm btnConnexion" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">{{ app.user.nom }}</a>#}
                        <a href="{{ path('security_logout') }}" class="btn btn-outline-secondary btn-sm btnConnexion" role="button" style="margin-left: 10px">Deconnexion</a>
                        <a href="{{ path('profil_admin') }}"><i class="fas fa-user-cog fa-2x hvr-buzz-out" style="color: white; margin-top: 5px"></i></a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

            {#<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>#}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            {#<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.proto.min.js"></script>#}
            <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
            {#<script src='{{ asset('bundles/fullcalendar/js/fullcalendar/locale-all.js') }}'></script>#}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/fr.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.js"></script>
            <script src="https://unpkg.com/pusher-chatkit-client"></script>

            <script src="{{asset('build/js/script/multiForm.js')}}"></script>
            <script src="{{asset('build/js/script/resetpassword.js')}}"></script>
            <script src="{{asset('build/js/script/addParticipants.js')}}"></script>
            <script src="{{asset('build/js/script/profil.js')}}"></script>
            <script src="{{asset('build/js/script/session.js')}}"></script>
            <script src="{{asset('build/js/script/modal.js')}}"></script>
            <script src="{{asset('build/js/script/saveIdea.js')}}"></script>
            <script src="{{asset('build/js/script/chat.js')}}"></script>
            <script src="{{asset('build/js/script/timer.js')}}"></script>
            <script src="{{asset('build/js/script/atelier.js')}}"></script>
            <script src="{{asset('build/js/script/responsive.js')}}"></script>

            <script src="{{asset('build/js/script/getCalendar.js')}}"></script>
            <script src="{{asset('build/js/app.js')}}"></script>
            <script src="{{asset('build/js/TimeCircles.js')}}"></script>
            {#<script src="{{asset('build/js/datatable.js')}}"></script>#}
            {#<script src="{{asset('build/js/chosen/chosen.jquery.js')}}"></script>#}
            <script src="{{asset('build/js/init.js')}}"></script>
            <script src="{{asset('build/js/chosen/chosen.jquery.min.js')}}"></script>
            <script src="{{asset('build/js/chosen/chosen.proto.min.js')}}"></script>
            {#<script src="{{asset('build/js/chosen/chosen.proto.js')}}"></script>#}
            {#<script src="{{asset('build/js/prism.js')}}"></script>#}
            {#<script src="{{asset('build/js/init.proto.js')}}"></script>#}
            {#<script src="{{asset('build/js/prototype-1.7.0.0.js')}}"></script>#}
        {% endblock %}
</html>
